.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
    font-size: 30px;
  }

  .bg-image{
    background: url(https://wallpapersite.com/images/wallpapers/tropical-forest-4000x2666-waterfall-hd-4k-6161.jpg);
    background-size: 100%;
    background-attachment: fixed;   
  }

<<<<<<< HEAD
=======
  .centerKon{
    position: relative;
  }
>>>>>>> 55ab0068116518e072d735841b99cb2529fe3ea7

.formk{
  left: 50%;
    top: 50%;
    margin-left: -30%;
    position: absolute;
    margin-top: 70%;
    margin-bottom: 30%
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  padding-top: 50%;
}